<!DOCTYPYE html>
<html>

<head>
    <title>Not Found: error 404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

    <body>
        <div class= main>
            {{>header}}
            <p>{{msg}}</p>
        </div>
        
        {{>footer}}
    </body>

</html>